---
title: Kris Kowal, Open Sourcerer
layout: layouts/home.njk
---

<p>
{% for tag in collections.all | getAllTags | filterTagList | reject("equalto", "home") %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a>
  {%- if not loop.last %}, {% endif %}
{% endfor %}
</p>

{% set postslist = collections.home %}
{% include "postslist.njk" %}
